{{>header}}
{{>navbar}}
<section class="mid-section">
  <h1>Nuevo Anime: </h1>
  <div class="container-fluid table-responsive">

    <form action="/create" method="POST" class="d-flex row row-cols-lg-auto">
      <input
        class="form-control"
        type="text"
        name="nombre"
        placeholder="Nombre"
        autocomplete="off"
        required
        autofocus
      />
      <input
        class="form-control"
        type="text"
        name="genero"
        placeholder="Genero"
        autocomplete="off"
      />
      <input
        class="form-control"
        type="text"
        name="year"
        placeholder="Año"
        autocomplete="off"
      />
      <input
        class="form-control"
        type="text"
        name="autor"
        placeholder="Autor"
        autocomplete="off"
      />
      <button class="btn btn-outline-success" type="submit"> Añadir</button>
    </form>
    <a class="btn btn-outline-success" href="/" type="submit"> Volver</a>
  </div>
</section>
{{>footer}}