{{>header}}

  {{>navbar}}

  <section>
      <div class="container-fluid">
          <img class="lost-img" src="/static/images/404.gif" alt="">
          <h1 class="big-heading">ERROR 404</h1>
          <a class="btn btn-outline-success" href="/" type="submit"> Volver</a>
      </div>
      
  </section>
  
{{>footer}}